<main>
<h1 class="bg-light">会員一覧</h1>
<div class="container">
<div class="row">
<table width="90%", class="mx-auto">
<tr class="bg-light">
  <th>会員ID</th>
  <th>氏名</th>
  <th>メールアドレス</th>
  <th>ステータス</th>
</tr>
<% @customer.each do |user| %>
<tr>
  <td><%= user.id %></td>
  <td><%= link_to user.first_name, admins_user_path(user.id) %></td>
  <td><%= user.email %></td>
  <td>ステータス</td>
</tr>
<% end %>
</table>
</div>
</div>
</main>
